# URL de l'API Open-Meteo. Les jetons %latitude% / %longitude% sont remplacés par l'adapter.
VITE_URL_OPEN_METEO="https://api.open-meteo.com/v1/forecast?latitude=%latitude%&longitude=%longitude%&current=temperature_2m,apparent_temperature,wind_speed_10m,precipitation"
